@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
    font-weight: normal;
    list-style-type: none;
}
html,body{
    height: 100%;
    width: 100%;
}
#container{
    height: 100%;
    width: 100%;
    background-color: #fff;
    display: flex;
    overflow: hidden;
}
#menu{
    height: 100%;
    width: 10%;
    background-color: rgb(41, 41, 41);
}
.dev{
    height: 16.66%;
    width: 100%;
    color: white;
    font-weight: 100;
    text-align: center;
    padding-top: 30.5%;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
}
#mid{
    height: 100%;
    width: 40%;
    position: relative;
    padding: 20px;
}
#mid h1{
    font-weight: 100;
    font-size: 40px;
    color: rgb(70, 69, 69);
}#stock{
    color: green;
}
a{
    text-decoration: none;
}
#code{
    font-size: 30px;
    text-align: center;
    margin-top: 7%;
}
#price {
    margin-top: 3px;
    color: tomato
}
#price1{
    text-decoration: line-through;
}
#productHighlights{
    line-height: 22px;
}
#mid li,p{
    font-size: 17px;
    color: rgb(58, 58, 58);
}
#innerMid{
    height: 10%;
    width: 60%;
    background-color:rgb(255, 135, 0);
    position: absolute;
    bottom: 0%;
    left: 20%;
    display: flex;

}
#rightMid{
    height: 100%;
    width: 75%;
    position: relative;
}
#rightMid h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: normal;
    font-family:  Helvetica, sans-serif;
    color: white;
}
#leftMid{
    height: 100%;
    width: 25%;
    background-color: rgb(17, 17, 17);
    position: relative;
}
#leftMid img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#pic{
    height: 100%;
    width: 45%;
    background-image: url("mypic.JPG");
    background-size: cover;
    background-position: -290px;
    position: relative;
    background-repeat: no-repeat;
}

#end{
    height: 100%;
    width: 5%;
    background-color:white;
    
}
#end ul{
    height: 91%;
    width: 100%;
    list-style-type: none;
    padding: 15px 0;
}

#end ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#social{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ul li p{
    transform: rotate(90deg);
}
#endDiv{
    height: 9%;
    width: 100%;
    background-color: #331E13;
}

