@import url('https://fonts.googleapis.com/css?family=Montserrat:300,500');
:root{
    --bg-color: white;
    --primary-color: #19293A;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: var(--primary-color);
}

html,body{
    width: 100%;
    height: 100%;
}
.container{
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
    transition: .35s ease-in-out all;
}
nav{
    height: 8%;
    width: 100%;
    padding: 0 10%;
    display: flex;
    justify-content: flex-end;
}
.name{
    margin-right: 10px;
}

.flex-norm{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn-toggle{
    width: 50px;
    height: 20px;
    background-color: #797979;
    border-radius: 15px;

}

#btn-toggle #circle{
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    transform: scale(1.2);
    transition: .35s cubic-bezier(.33,.69,.33,.67) all;
    
}

.clicked#circle{
    margin-left: 30px;
}

.content{
    height: 70%;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1{
    margin-top: -4%;
    font-size: 40px;
}
p{
    font-size: 15px;
}
.content p a{
    text-decoration: none;
    font-weight: 500;
}
#last{
    margin-top: 7px;
}
button{
    outline: none;
    border: none;
    text-decoration: none;
    margin-top: 30px;
    padding: 12px 50px;
    border-radius: 20px;
    color: var(--bg-color);
    background-color: var(--primary-color);
    border: 1px solid var(--bg-color);
    transition: .3s ease-out all;
}
button:hover{
    transform: scale(1.05);
    color: var(--primary-color);
    background-color: var(--bg-color);
    border-color: var(--primary-color);

}